<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mushroom.name %>
</p>

<p>
  <strong>Edible:</strong>
  <%= @mushroom.edible %>
</p>

<p>
  <strong>Cap shape:</strong>
  <%= @mushroom.cap_shape_id %>
</p>

<p>
  <strong>Cap surface:</strong>
  <%= @mushroom.cap_surface_id %>
</p>

<p>
  <strong>Cap color:</strong>
  <%= @mushroom.cap_color_id %>
</p>

<p>
  <strong>Bruises:</strong>
  <%= @mushroom.bruises %>
</p>

<p>
  <strong>Odor:</strong>
  <%= @mushroom.odor_id %>
</p>

<p>
  <strong>Gill attachment:</strong>
  <%= @mushroom.gill_attachment_id %>
</p>

<p>
  <strong>Gill spacing:</strong>
  <%= @mushroom.gill_spacing_id %>
</p>

<p>
  <strong>Gill size:</strong>
  <%= @mushroom.gill_size_id %>
</p>

<p>
  <strong>Gill color:</strong>
  <%= @mushroom.gill_color_id %>
</p>

<p>
  <strong>Stalk shape:</strong>
  <%= @mushroom.stalk_shape_id %>
</p>

<p>
  <strong>Stalk root:</strong>
  <%= @mushroom.stalk_root_id %>
</p>

<p>
  <strong>Stalk surface above ring:</strong>
  <%= @mushroom.stalk_surface_above_ring_id %>
</p>

<p>
  <strong>Stalk surface below ring:</strong>
  <%= @mushroom.stalk_surface_below_ring_id %>
</p>

<p>
  <strong>Stalk color above ring:</strong>
  <%= @mushroom.stalk_color_above_ring_id %>
</p>

<p>
  <strong>Stalk color below ring:</strong>
  <%= @mushroom.stalk_color_below_ring_id %>
</p>

<p>
  <strong>Veil type:</strong>
  <%= @mushroom.veil_type_id %>
</p>

<p>
  <strong>Veil color:</strong>
  <%= @mushroom.veil_color_id %>
</p>

<p>
  <strong>Ring number:</strong>
  <%= @mushroom.ring_number_id %>
</p>

<p>
  <strong>Ring type:</strong>
  <%= @mushroom.ring_type_id %>
</p>

<p>
  <strong>Spore print color:</strong>
  <%= @mushroom.spore_print_color_id %>
</p>

<p>
  <strong>Population:</strong>
  <%= @mushroom.population_id %>
</p>

<p>
  <strong>Habitat:</strong>
  <%= @mushroom.habitat_id %>
</p>

<%= link_to 'Edit', edit_mushroom_path(@mushroom) %> |
<%= link_to 'Back', mushrooms_path %>
